*{
    margin: 0;
    padding: 0%;
}

h1{
    color: white;
}
#main-body{
display: flex;
justify-content: center;
align-items: center;
}

.card{
    margin: 20px 20px;
}

.card-img-top{
    padding-top: 20;
    width: 100%;
}


.fa-cart-plus{
    color: white;
}
/* Detail Meal page Style */

.d-image{
    width: 100%;
    height: 50vh;
    background-color: red;

}

.d-h{
    text-align: center;
    color: black;
    margin: 10px 0px;
}

/* meal details container */
#meal-details {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #FF3044;
}

#meal-header {
    width: 70%;
    margin: auto;
}

#meal-thumbail img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

#meal-instruction {
    margin: auto;
    text-align: center;
}