*{
    margin: 0;
    padding: 0%;
}

h1{
    color: white;
}
#main-body{
display: flex;
justify-content: center;
align-items: center;
}

.card{
    margin: 20px 20px;
}

.card-img-top{
    padding-top: 20;
    width: 100%;
}


.fa-cart-plus{
    color: white;
}
/* Detail Meal page Style */

.d-image{
    width: 100%;
    height: 50vh;
    background-color: red;

}

.d-h{
    text-align: center;
    color: black;
    margin: 10px 0px;
}